<div id = "Boxholder">
  <div class = "Limitholder">
  <div class = "Limiters" id = "Level">
    
  </div>
  <div class = "Button-holder">
  <button class = "LimiterButton">+</button>
  <div class= "divider"></div>
  <button class = "LimiterButton">-</button>
</div>
</div>
<div class = "Limitholder">
  <div class = "Limiters" id = "Time">
    
  </div>
  <div class = "Button-holder">
  <button class = "LimiterButton">+</button>
  <div class= "divider"></div>
  <button class = "LimiterButton">-</button>
</div>
</div>
<div class = "Limitholder">
  <div class = "Limiters" id = "Scale">
    
  </div>
  <div class = "Button-holder">
  <button class = "LimiterButton">+</button>
  <div class= "divider"></div>
  <button class = "LimiterButton">-</button>
</div>
</div>
<div class = "Limitholder">
  <div class = "Limiters" id = "Set">
    
  </div>
  <div class = "Button-holder">
  <button class = "LimiterButton">+</button>
  <div class= "divider"></div>
  <button class = "LimiterButton">-</button>
</div>
</div>
</div>