
<div id = "DomainPhysics">
<div id = "Domain Setup" class = "container">
  <h2>Domain Setup</h2>
  <h3>nop <input id = "nop" type = "number" size = "50"></h3>
  <h3>nel [xy] <input id = "nelxy" type = "number"></h3>
</div>
<div class = "domainspacer"></div>
<div id = "Domain Setup2" class = "container2">
  <h3>nel z <input id = "nelz" type = "number"></h3>
  <h3>delta t <input id = "t" type = "number" step = "0.001"></h3>
</div>
<div class = physicsspacer></div>
<div id = "physics">
  <div>
  <h2 id = "pytxt">Physics</h2>
  <label id = "pylabel" for="physics">Choose a CCPP File:<div class = "domainspacer"></div></label>
    <select id="physics_files">
      <option value = RAMS.xml>RAMS.xml</option>
      <option value = FV3GFS.xml>FV3GFS.xml</option>
    </select>
  </div>
</div>
</div>

<div>
  <div id = "Boxholder">
    <div class = "Limitholder">
      <p class = "LimitedText">Level Sets</p>
      <div class = "Limiters" id = "Level-set">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="pickedLevelSet">
          <mat-radio-button class="example-radio-button" *ngFor="let levelSet of levelSets" [value]="levelSet">
            {{levelSet}} 
          </mat-radio-button>
      </mat-radio-group>
      </div>
      <div class = "Button-holder">
        <button class = "LimiterButton" mat-raised-button color="accent" (click)="openDialog()">+</button>
        <button class = "LimiterButton" mat-raised-button color="accent" (click)="openDialog()">-</button>
      </div>
    </div>
    <div class = "Limitholder">
      <p class = "LimitedText">Variable Sets</p>
      <div class = "Limiters" id = "Variable-set">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="pickedVarSet">
          <mat-radio-button class="example-radio-button" *ngFor="let varSet of varSets" [value]="varSet">
            {{varSet}} 
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class = "Button-holder">
        <button class = "LimiterButton" mat-raised-button color="accent" (click)="openDialog()">+</button>
        <button class = "LimiterButton" mat-raised-button color="accent" (click)="openDialog()">-</button>
      </div>
    </div>
    <div class = "Limitholder">
      <p class = "LimitedText">Output Grid</p>
      <div class = "Limiters" id = "Output-grid">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="pickedGridSet">
          <mat-radio-button class="example-radio-button" *ngFor="let gridSet of gridSets" [value]="gridSet">
            {{gridSet}} 
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class = "Button-holder">
        <button class = "LimiterButton" mat-raised-button color="accent" (click)="openDialog()">+</button>
        <button class = "LimiterButton" mat-raised-button color="accent" (click)="openDialog()">-</button>
      </div>
    </div>
    <div class = "Limitholder">
      <p class = "LimitedText">Time Sets</p>
      <div class = "Limiters" id = "Time-set">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="pickedTimeSet">
          <mat-radio-button class="example-radio-button" *ngFor="let timeSet of timeSets" [value]="timeSet">
            {{timeSet}} 
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class = "Button-holder">
        <button class = "LimiterButton" mat-raised-button color="accent" (click)="openDialog()">+</button>
        <button class = "LimiterButton" mat-raised-button color="accent" (click)="openDialog()">-</button>
      </div>
    </div>
  </div>

  <div id="btn_wrapper">
    <button mat-raised-button color="primary" (click)="addOutputSet(pickedLevelSet, pickedVarSet, pickedGridSet, pickedTimeSet)">Create Output Set</button>
  </div>

  <br/>
  <br/>

  <ng-template [ngIf]="outputSets.length > 0" [ngIfElse]="noOutputSets">
    <div id="scroll_wrapper">
      <div class="scrollmenu">
        <table>
          <tr>
            <th> </th>
            <td> Level </td>
            <td> Var </td>
            <td> Grid </td>
            <td> Time </td>
            <td> Delete </td>
          </tr>
          <tr *ngFor="let outputSet of outputSets; let i = index">
            <td> {{ outputSets.length - i }} </td>
            <td> {{outputSet[0] }} </td>
            <td> {{outputSet[1] }} </td>
            <td> {{outputSet[2] }} </td>
            <td> {{outputSet[3] }} </td>
            <td> 
              <button mat-raised-button color="warn" (click)="deleteOutputSet(i)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </ng-template>

  <ng-template #noOutputSets>
    <div id="scroll_wrapper">
      <div class="empty">
        <h1> No output sets have been made yet! </h1>
      </div>
    </div> 
  </ng-template>
</div>